.header__image {
  margin-top: 8vh;
  max-width: 984px;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media screen and (max-width: 767px) {
  .header__image {
    margin-top: 8.3vh;
  }
}
