.place__title {
  grid-area: title;
  width: 100%;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.06;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 42px;
  }
} /*de acordo com o brief, o título tem tamanhos diferentes em cada tela, e como as fontes devem ser em px, estou especificando cada uma */

@media screen and (max-width: 656px) {
  .place__title {
    font-size: 32px;
    line-height: 1.08;
  }
}
