.quote {
  margin-top: 5vh;
  max-width: 720px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  .quote {
    margin-top: 3.8vh;
    line-height: 1.5;
  }
}
