.quote {
  margin: 5% 0 0;
  width: 70%;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.4;
}

@media screen and (max-width: 1279px) {
  .quote {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .quote {
    line-height: 1.5;
  }
}
