.place__image {
  grid-area: image;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  align-self: flex-start;
  justify-self: flex-start;
}

@media screen and (max-width: 656px) {
  .place__image {
    width: 110%;
    justify-self: center;
  }
}
