.introduction__title {
  margin-top: 11.5vh;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.04;
}

@media screen and (max-width: 767px) {
  .introduction__title {
    margin-top: 4vh;
    font-size: 32px;
    line-height: 1.09;
  }
}
