.cover {
  margin-top: 10vh;
  height: 740px;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cover__title {
  font-size: 4.5rem;
  line-height: 1.06;
  font-weight: bold;
}

.cover__text {
  margin-top: 4.8vh;
  margin-bottom: 4.8vh;
  font-size: 1.2rem;
  line-height: 1.22;
  font-weight: normal;
}

@media screen and (max-width: 1280px) {
  .cover {
    height: 746px;
    -o-object-fit: contain;
    object-fit: contain;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: 254px;
  }

  .cover__title {
    font-size: 2rem;
    line-height: 1.08;
  }

  .cover__text {
    font-size: 0.88rem;
    line-height: 1.25;
  }
}
