.introduction {
  width: 80vw;
  margin: 0 auto;
  -webkit-transform: translateX(2%);
  -ms-transform: translateX(2%);
  transform: translateX(2%);
}

.introduction__title {
  margin-top: 10vh;
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 1.04;
}

.introduction__text {
  margin: 3% 0 0;
  width: 70%;
  font-size: 1em;
  line-height: 1.4;
}

@media screen and (max-width: 1280px) {
  .introduction {
    width: 95vw;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .introduction__text {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .introduction__title {
    font-size: 2rem;
    line-height: 1.09;
  }
}
