.photo-grid__item {
  margin: 0;
  width: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 284px;
  flex: 1 1 284px;
}

@media screen and (max-width: 1024px) {
  .photo-grid__item {
    max-width: 400px;
    flex: 1 1 352px;
  }
}
