.logo {
  margin-top: 4vh;
}

@media screen and (max-width: 1279px) {
  .logo {
    max-width: 296px;
    width: 26.3vw;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    width: 200px;
  }
}
