.cover__text {
  margin-top: 3.5vh;
  margin-bottom: 3vh;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .cover__text {
    margin-top: 3.3vh;
    margin-bottom: 3.3vh;
    font-size: 14px;
    line-height: 1.25;
  }
}
