.header__subtitle {
  max-width: 720px;
  width: 100%;
  font-size: 30px;
  line-height: 1.5;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 656px) {
  .header__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
  }
}
