.button-link_center {
  margin: 0 auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
/* esse modificador é para o botão do cover, ele está sempre no meio independentemente do tamanho, alterção de posíção por tela está no button-link.css*/
