.place {
  margin-top: 10vh;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
  column-gap: 1vw;
  justify-items: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .place {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "button";
  }
}
