.footer {
  margin-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 656px) {
  .footer {
    margin-top: 64px;
  }
}
