.place__artist-name {
  color: #aaa;
  font-size: 12px;
  letter-spacing: 0.12em;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
}

.place__artist-name::after {
  content: "\a";
  white-space: pre-line;
}
